<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.seatunnel.app.dal.mapper.UserLoginLogMapper">

    <resultMap id="BaseResultMap" type="org.apache.seatunnel.app.dal.entity.UserLoginLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="token" column="token" jdbcType="VARCHAR"/>
        <result property="tokenStatus" column="token_status" jdbcType="BOOLEAN"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        user_id,
        token,
        token_status,
        create_time,
        update_time
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.apache.seatunnel.app.dal.entity.UserLoginLog"
            useGeneratedKeys="true">
        insert into `user_login_log` (user_id, token, `token_status`)
        VALUES (#{userId,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, #{tokenStatus,jdbcType=BOOLEAN})
    </insert>

    <update id="updateStatus">
        update user_login_log
        set token_status = #{enable,jdbcType=BOOLEAN}
        where user_id = #{userId,jdbcType=INTEGER} and token_status != #{enable}
    </update>
    <select id="checkLastTokenEnable" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_login_log
        where user_id = #{userId,jdbcType=INTEGER}
        order by id desc
        limit 1
    </select>
</mapper>
