[submodule "label-when-approved-action"]
	path = label-when-approved-action
	url = https://github.com/TobKed/label-when-approved-action
[submodule "get-workflow-origin"]
	path = get-workflow-origin
	url = https://github.com/potiuk/get-workflow-origin.git
