# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build targets
target/

# Intellij Idea files
.idea/
*.iml

.DS_Store

metastore_db/

work_dir

*.keytab
/derby.log

dependency-reduced-pom.xml

apidoc
*.tar.gz

# Python
*.py[cod]

Test.java
Test.scala
