# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

env {
  parallelism = 1
  job.mode = "BATCH"
}

source {
  LocalFile {
    path = "C:/data/input.csv"
    file_format_type = "csv"
    skip_header_row_number = 1
    schema {
      fields {
        id = bigint
        name = string
        amount = double
      }
    }
  }
}

sink {
  ADLSFile {
    path = "/incoming/seatunnel"
    account_name = "replace-with-storage-account"
    container = "replace-with-container"
    endpoint_suffix = "dfs.core.windows.net"
    auth_type = "SHARED_KEY"
    account_key = ${?SEATUNNEL_ADLS_ACCOUNT_KEY}
    file_format_type = "csv"
    preserve_source_filename = true
    is_enable_transaction = true
    data_save_mode = "APPEND_DATA"
  }
}
