[mysqld]
skip-host-cache
skip-name-resolve
user=mysql
symbolic-links=0

# Enable the binlog for replication & CDC
server-id         = 223344
log_bin           = mariadb-bin
expire_logs_days  = 1
binlog_format     = ROW
binlog_row_image  = FULL
gtid_domain_id    = 1
